/* TAG SELECTORS */
body {
  background-color: #F6F7D4;
  margin: 0;
  text-align: center;
  font-family: monospace;
  font-size: 1.6em;
}

h1 {
  color: #28DF99;
  margin: 200px auto 0 auto;
  font-size: 5.625rem;
  font-family: 'Satisfy', cursive;
  line-height: 2;
}

h2 {
  color: #28DF99;
  font-family: monospace;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-weight: normal;
  font-size: 1.6rem;
  color: #14C38E;
  font-family: monospace;
}

p {
  line-height: 2;
}

hr {
  color: #B8F1B0;
  margin: 5% auto 5% auto;
  border: dotted;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-width: 8px;
  height: 1px;
  width: 5%;
}

a {
  color: #D2F6C5;
  margin: 0 10px 0 10px;
  text-decoration: none;
}

a:hover {
  color: #28DF99;
}

/* CLASS SELECTORS */
.head-container {
  background-color: #D2F6C5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px auto 100px auto;
}

.bottom-container {
  padding: 50px 0 20px 0;
  background-color:  #0dbb81;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px auto;
}

.copyright {
  color: #f0fff9;
  font-size: 1rem;
  padding: 20px 0;
}

.skill-row {
  margin: 100px auto 100px auto ;
  width: 50%;
  text-align:  left;
}

.mountain {
  width: 50%;
  position: relative;
}

.top-cloud {
  position: absolute;
  right: 20%;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 20%;
}

.myimage {
  width: 18%;
  height: 18%;
}

.skill-lizz {
  width: 200px;
  height: 200px;
  float: left;
  margin-right: 5%;
}

.skill-moai {
  width: 200px;
  height: 200px;
  float: right;
  margin-left: 5%;
}

.circular {
  border-radius: 100%;
}

.btn {
  padding: 10px 20px 10px 20px;
  font-size: 20px;
  background: #0dbb81;
  text-decoration: none;
  border-radius: 8px;
  border-color: 483838;

}

.button-link {
  margin: auto;
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-family: monospace;
}

/* ID SELECTORS */